extends layout

append head
    meta(charset="utf-8")
    meta(name="viewport" width="device-width" initial-scale=1.0 maximum-scale=1.0 user-scalable=0)
    meta(name="description" content="web canvas")
    meta(name="keywords" content="html5,canvas,processing,javascript")
    meta(name="author" content="Alex Rossiter")
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    

